/* Reset some default styles */
body, h1, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Navigation bar styles */
.navbar {
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6600; /* Change the color on hover */
}

 /* Featured properties section styles */
 .featured-properties {
  padding: 40px;
  text-align: center;
}

.featured-properties h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.property-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.property-card {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.property-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.property-card h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.property-card p {
  font-size: 16px;
  color: #666;
}

.property-card .price {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin-top: 10px;
}


/* Main content styles */
.main-content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.content h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
}

/* Footer styles */
.footer {
  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .main-content {
    padding: 10px;
  }
}
